In [27]:
import pandas as pd

In [28]:
!ls

transactions_01052020 - 01052020.csv
transactions_02052020 - 02052020.csv
transactions_03052020 - 03052020.csv

In [29]:
%cd "C:\task\

C:\task

In [41]:
insertData = pd.read_csv ('transactions_01052020 - 01052020.csv')
insertData.head()

,trans_id,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address
0,459270924,01/05/2020 00:00:29,59649132026167121328,40817810000001139973,1/16/2036,3-95179,Мисик,Сергей,Николаевич,6/25/1938,7076445954,11/9/2022,79497481039,Пополнение,"31576,6",Отказ,POS43792,POS,Славянск-на-Кубани,"Славянск-на-Кубани, ул. Клецкая, д. 86"
1,459270943,01/05/2020 00:02:46,54236863445669263724,40817810000006468175,11/15/2033,8-33140,Ачентов,Антон,Дмитриевич,8/4/1960,6403074379,9/13/2030,79458324907,Пополнение,"60041,1",Отказ,POS75616,POS,Пустошка,"Пустошка, ул. Цюрупинская, д. 78"
2,459270968,01/05/2020 00:05:14,45930894029725313464,40817810000009142118,3/18/2029,4-72043,Гуляков,Евгений,Константинович,8/15/1989,3354134791,6/24/2021,79953939977,Снятие,"18474,46",Успешно,POS28311,POS,Петровск-Забайкальский,"Петровск-Забайкальский, ул. Тагильская, д. 38"
3,459271057,01/05/2020 00:07:05,47550893546403715714,40817810000005559732,4/1/2028,1-85045,Гуляков,Кирилл,Петрович,9/18/1996,4783507057,1/8/2023,79698158422,Пополнение,"915,26",Успешно,ATM39555,ATM,Краснослободск,"Краснослободск, ул. Фогеля, д. 20"
4,459271064,01/05/2020 00:08:27,53036257457049008830,40817810000007495265,10/26/2037,5-77607,Мисик,Сергей,Олегович,5/8/1992,3195562178,9/27/2032,79181011177,Оплата,"75843,91",Отказ,ATM16730,ATM,Черкесск,"Черкесск, ул. Гинтовта, д. 56"

In [46]:
import cx_Oracle as orcCon
from cx_Oracle import DatabaseError
try:
    conn = orcCon.connect('ЛОГИН/ПАРОЛЬ@20.52.35.115:1521/dereboot')
    if conn:
        print("cx_Oracle version:", orcCon.version)
        print("Database version:", conn.version)
        print("Client version:", orcCon.clientversion())
        cursor = conn.cursor()
        print("You're connected: ")
        print('Inserting data into table....')
        for i,row in insertData.iterrows():
            sql = "INSERT INTO raws (trans_id, datee, card, account, account_valid_to, client, last_name, first_name, patronymic, date_of_birth, passport, passport_valid_to, phone, oper_type, amount, oper_result, terminal, terminal_type, city, address) VALUES(:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17,:18,:19,:20)"
            cursor.execute(sql, tuple(row))
        conn.commit()
        print("Record inserted succesfully")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)
finally:
    cursor.close()
    conn.close()

cx_Oracle version: 8.3.0
Database version: 19.3.0.0.0
Client version: (21, 3, 0, 0, 0)
You're connected:
Inserting data into table....
Record inserted succesfully